<a href="https://colab.research.google.com/github/falgunip02/Flower_Shop/blob/main/bdiexp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/dirtydata.csv')
dff = pd.read_csv('/content/clean_data.csv')
print(df.head(10))

    Segment    Ship Mode         OrderID     Sales
0  Consumer  First Class  CA-2011-103366   149.950
1  Consumer  First Class  CA-2011-109043   243.600
2  Consumer  First Class  CA-2011-113166     9.568
3  Consumer  First Class  CA-2011-124023     8.960
4  Consumer  First Class  CA-2011-130155    34.200
5  Consumer  First Class  CA-2011-136861    31.984
6  Consumer  First Class  CA-2011-153927   286.650
7  Consumer  First Class  CA-2011-157784   514.030
8  Consumer  First Class  CA-2011-160094  1000.950
9  Consumer  First Class  CA-2011-166730    39.128

In [15]:
print(df.columns)
print(df.info())
print(df.describe())

Index(['Segment', 'Ship Mode', 'OrderID', 'Sales'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Segment    830 non-null    object
 1   Ship Mode  830 non-null    object
 2   OrderID    830 non-null    object
 3   Sales      830 non-null    float64
dtypes: float64(1), object(3)
memory usage: 26.1+ KB
None
               Sales
count     830.000000
mean      942.741784
std      5514.719843
min         1.167000
25%        35.072000
50%       175.203000
75%       561.519375
max    116922.134500

In [16]:
#Dropping duplicates
df.drop_duplicates(inplace = True)

In [26]:
# get the number of missing data points per column
missing_values_count = df.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Segment      0
Ship Mode    0
OrderID      0
Sales        0
dtype: int64

In [24]:

# Drop the column '0' from the DataFrame
dff.drop(columns=['OrderID'], axis=1, inplace=True)

In [25]:
dff.drop(columns=['Sales'], axis=1, inplace=True)
dff.drop(columns=['Ship Mode'], axis=1, inplace=True)

In [ ]:
a = []  # Segment
b = []  # Ship Mode
c = []  # OrderID
d = []  # Sales

In [1]:
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

NameError: name 'np' is not defined

In [ ]:
from google.colab import drive
drive.mount('/content/drive')